dag.overwrite = true
report.overwrite = true
timeline.overwrite = true
trace.overwrite = true
docker.enabled = true
docker.fixOwnership = true

process {
  executor = 'local'
  container = 'pzh-phylogenetic:latest'
  containerEngine = 'docker'
}

profiles {
    local {
        process.executor = 'local'
        process.errorStrategy = 'retry'
        process.maxRetries = 2
    }

    slurm {
        process.executor = 'slurm'
        process.clusterOptions = '--nodelist=a100-1'
        process.errorStrategy = 'retry'
        process.maxRetries = 2
    }
}

executor {
    $local {
        cpus = 12
        memory = '30 GB'
    }
    $slurm {
        queueSize = 500
    }
}

