dag.overwrite = true
report.overwrite = true
timeline.overwrite = true
trace.overwrite = true
docker.enabled = true
docker.fixOwnership = true

profiles {
    local {
        process.executor = 'local'
        process.errorStrategy = 'retry'
        process.maxRetries = 2
    }

    slurm {
        process.executor = 'slurm'
        process.clusterOptions = '--nodelist=XYZ' # Name of the host avaiable to slurm
        process.errorStrategy = 'retry'
        process.maxRetries = 2
    }
}

executor {
    $local {
        cpus = XYX # Number of CPUs available for nextflow
        memory = 'XYZ GB' # Memory avaialble for nextflow
    }
    $slurm {
        queueSize = 500
    }
}

